body{
    font-family: 'Londrina Solid', cursive;
    
}

.wall{
    height: 25px;
    width: 23px;
    

    display: flex;
    background-color: black;
}

.way{
    height: 25px;
    width: 23px;
    background-color: white;
    display: flex;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    
    
}

.line{
    width: 500px;
    height: 25px;
    display: flex;
    
}

#player{
    height: 50px;
    width: 23px;
    background-color: rgb(25, 151, 201);
    
    
    
}

#start{
    background-color: blanchedalmond;
}

#finish{
    background-color: red;
}

#imgTop{
    object-fit: cover;
    width: 1200px;
}

#box-imgTop{
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#description{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}